<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Developers</h3>
            <p>Dimitry istomin</p>
            <p>Daniel Burlakov</p>
            <p>IITC College©️</p>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Daniels GitHub</h3>
            <div class="social-icons">
                <a href="https://github.com/Damashdam"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                        alt="Dimas GitHub"></a>
                <h3>Dimas GitHub</h3>

                <a href="https://github.com/dimabond007"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                        alt="Daniels GitHub"></a>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; IITC College librarian project &copy;</p>
    </div>
</footer>