<div class="header">
    <div class="logo">
        <a href="./home.html"><img src="../assets/images/logo.png" alt="Logo">
        </a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search..." class="search_input">
        <button type="button" class="btn_search">Search</button>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./form_book.html">Create</a></li>
            <li><a href="./history.html">History</a></li>
            <li><a href="./history.html">Favorites</a></li>
        </ul>
        <select id="navbar-dropdown" class="navbar-dropdown">
            <option value="">History</option>
            <option value="#home">Home</option>
            <option value="./form_book.html">Create</option>

        </select>
    </nav>
</div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script>

    document.getElementById('navbar-dropdown').addEventListener('change', function () {
        var url = this.value;
        if (url) {
            window.location.href = url;
        }
    });

</script>