<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    <div id="header">
        <include src="./header.html"></include>
    </div>
    <h2 class = "booksHeader">Our Books</h2>
    <div id="content" class="books_block">

    </div>

    <div id="footer">
        <include src="./footer.html"></include>
    </div>
    <script type="module" src="../assets/js/routs.js"></script>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

    <script type="module" src="../assets/js/script.js"></script>




</body>

</html>