<div class='single_book'>
    <div class="main_book_content">
        <div class="img_book">
            <img src="" alt="">
        </div>
        <div class="content_book">
            <h2 class='title_book'></h2>
            <div class="authors_year"><span class="authors_book"></span><span class="year_book"></span></div>
            <div class="buttons_wrapper">
                <button class="delete_book"><i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <button class="edit_book"><i class="fas fa-edit"></i></button>
                <button class="add_book_To_Favorite"><i class="fa-solid fa-heart"></i></button>
            </div>
        </div>
    </div>

    <div class="additionl_book_content">
        <div class="description_book"></div>

        <div class="additional_details">
            <div class="book_isbn">ISBN:<span></span></div>
            <div class="book_page_count">Pages:<span></span></div>
            <div class="book_published">Published:<span></span></div>
            <div class="book_publisher">Publisher:<span></span></div>
            <div class="book_language">Language:<span></span></div>
            <div class="book_author">Author:<span></span></div>
        </div>

    </div>
    <a href="http://127.0.0.1:5500/librarian_shop/templates/home.html" class="button">
        <button class="backButton">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </a>
</div>